@tailwind base;
@tailwind components;
@tailwind utilities;



.ql-editor{
    font-size:1.1rem;
}

.post-content p {
    margin-bottom: 0.3rem;
    font-family:sans-serif;
}
.post-content a {
    text-decoration:none;
    color:blue;
    cursor:pointer;
}
.post-content a:hover {
    text-decoration:underline;
}

.post-content h1 {
    font-size:2.2rem;
}

 .post-content h2 {
    font-size:1.7rem;
}

.post-content h3 {
    font-size:1.3rem;  
}
